.storybook
.svelte-kit
node_modules
src/
static/
.eslintignore
.eslintrc.cjs
.gitignore
.npmrc
.prettierignore
.prettierrc
pnpm-lock.yaml
svelte.config.js
tsconfig.json
vercel.json
vite.config.js
storybook-static/